# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Header files
*.h

# Planet files
*_planet.f
*_planet.f90


# Makefile rules and Depend files and conf and def
Makefile.RULES
Makefile.DEPEND
Makefile.def
Makefile.conf
Makefile.planet

#run directories
run*

# Backup files
*~
